.imgCon2 {
    height: 100vh;
}

#tit {
    margin-left: 13px;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0px;
}

.info-child2 {
    width: 60%;
    margin-bottom: 30px;
}

#more2 {
    text-align: end;
    color: #009eff;
    font-weight: bold;
    font-size: 18px;
}

#more1 {
    cursor: pointer;
    margin-right: 60px;
    justify-content: end;
}

#play-but {
    background: #009eff;
    color: white;
    min-width: 100px;
    font-size: 15px;
    height: 35px;
    margin-right: 15px;
}

.loads2 {
    height: 30vh;
}

#play-but2 {
    background: #000000;
    color: white;
    font-size: 13px;
    height: 39px;
    margin-right: 15px;
    text-transform: none;
}

.tapContainer {
    padding: 20px;
    padding-left: 35px;
    /* background: linear-gradient(180deg, rgba(20, 30, 51) 100%, rgba(20, 30, 51, 0.98) 91%, rgba(20, 30, 51, 0.95) 83%, rgba(20, 30, 51, 0.88) 76%, rgba(20, 30, 51, 0.8) 69%, rgba(20, 30, 51, 0.71) 63%, rgba(20, 30, 51, 0.61) 57%, rgba(20, 30, 51, 0.5) 50%, rgba(20, 30, 51, 0.39) 44%, rgba(20, 30, 51, 0.29) 38%, rgba(20, 30, 51, 0.2) 32%, rgba(20, 30, 51, 0.12) 25%, rgba(20, 30, 51, 0.05) 18%, rgba(20, 30, 51, 0.02) 10%, rgb(20, 30, 51, 0) 1%); */
    /* background: linear-gradient(180deg, rgba(20, 30, 51, 0) 1%, rgba(20, 30, 51, 0.02) 10%, rgba(20, 30, 51, 0.05) 18%, rgba(20, 30, 51, 0.12) 25%, rgba(20, 30, 51, 0.2) 32%, rgba(20, 30, 51, 0.29) 38%, rgba(20, 30, 51, 0.39) 44%, rgba(20, 30, 51, 0.5) 50%, rgba(20, 30, 51, 0.61) 57%, rgba(20, 30, 51, 0.71) 63%, rgba(20, 30, 51, 0.8) 69%, rgba(20, 30, 51, 0.88) 76%, rgba(20, 30, 51, 0.95) 83%, rgba(20, 30, 51, 0.98) 91%, rgb(20, 30, 51) 100%); */
    background-color: #101214;
    margin: 0;
    margin-top: -10px;
    min-height: 300px;
}

.info2 {
    width: 80vw;
}

.absoRem {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.2);
}

#play-but3 {
    
}

.sharebutRem {
    width: 44px;
    height: 38px;
    display: flex;
    align-items: center;
    background: whitesmoke;
    border-radius: 50%;
    margin-top: 13px;
    margin-left: 10px;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px;
}

#playbutRem {
    font-size: 45px;
    margin-top: 10px;
    color: #0486D2;
    cursor: pointer;
    position: absolute;
    top: 40%;
    left: 40%;
}

#mobile_title2 {
    display: none;
}

#watRem {
    position: absolute;
    background: #27292e;
    color: white;
    padding: 6px 10px;
    bottom: -10;
    right: 0;
    bottom: -33px;
    z-index: 1;
    border-radius: 5px;
    font-size: 15px;
}

.recommendMain {
    margin: 10px 20px 10px 0px;
    cursor: pointer;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

#remTit {
    color: white;
    margin-top: 5px;
    margin-left: 5px;
}

.remCon {   
    border-radius: 10px;
    /* width: 235px; */
}

.recommendImg {
    /* max-width: 235px; */
    height: 300px;
    position: relative;
}

.eptab {
    font-size: 15px;
    margin-top: 20px;
    margin-left: 6px;
    color: white;
    padding: 0px 16px;
    width: 202px;
    border: 1px solid white;
    cursor: pointer;
    position: relative;
    user-select: none;
}

.tab-child {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 7px;

}

.videoContainer {
    overflow: hidden;
    max-height: 230px;
    /* max-width: 360px; */
    margin-top: 20px;
}

#video-child {
    width: 100%;
    height: 100%;
}

#epname {
    margin-top: 8px;
    color: white;
}

.list {
    color: white;
    position: absolute;
    width: 233px;
    margin-left: 7px;
    background: #1A2027;
    margin-top: 7px;
    z-index: 100;
    border: 1px solid white;
    /* border-radius: 5px; */
    cursor: pointer;
}

.child_list {
    padding-left: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    user-select: none;
}

.child_list:hover {
    color: #009eff;
    background-color: rgba(211,211,211,0.1);
}

.butforV {
    background: none;
    color: white;
    border: none;
    text-align: start;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.letPic2 {
    margin-bottom: 19px;
    margin-left: -5px;
    height: 150px;
    width: 350px;
}

#sharePaper {
    max-width: 350px;
    width: 100%;
    min-height: 320px;
    border-radius: 15px;
    padding: 20px 35px;
}

.shareHeader {
    display: flex;
    justify-content: space-between;
}

.shareIconConc {
    margin-top: 25px;
    margin-left: 13px;
}

.pageLink {
    margin-top: 40px;
}

.linkCopy {
    width: 100%;
    margin-top: 15px;
}

#linkText {    
    max-width: 290px;
    overflow: auto;
    color: #6d6d6d;
}

.linkKid {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    padding: 0px 15px;
    background: #ededed;
    border-radius: 10px;
}

.picForMobile {
    width: 100%;
    height: 100%;
    margin: auto;
}

#star2 {
    color: gold;
    font-size: 22px;
}

#play-but {
    margin-top: 10px;
}

#play-but2 {
    margin-top: 10px;
}

.main-vid {
    background: #101214;
}

.react-thumbnail-generator {
    height: 100%;
}

.snapshot-generator {
    width: 100%;
    height: 100%;
}



#listCon1 {
    padding: 0px 0px 0px 20px;
}

@media only screen and (max-width: 500px) { 
  #sharePaper {
    max-width: 500px !important;
    padding: 10px;
    border-radius: 0px;
  }
}

@media only screen and (max-width: 764px) { 
 .imgCon2 {
    height: 55vw;
 }

 #fontForE {
    font-size: 4px;
 }

 .recommendImg {
    height: 150px;
 }

 #listCon1 {
    padding: 0px 10px;
}

 #remTit {
    display: none;
 }

 #mobile_title2 {
    display: block;
    color: white;
 }

 .css-13xfq8m-MuiTabPanel-root {
    
 }

 #card {
    width: 25px;
    height: 30px;
    padding: 8px;
 }

 .recommendMain {
    margin: 10px 10px 0px 0px;
}

#card_con {
    margin: 10px 15px 10px 0px;
}

 .info2 {
    position: relative;
    background: none;
    width: auto;
    background: rgb(16 10 20);
    top: -4px;
    padding-right: 9px;
 }

 #epname {
    font-size: 13px;
    margin-top: 4px;
 }

 .info-child2 {
    width: 100%;
    position: static;
    margin-bottom: 0px;
 }
 
 .letPic2 {
    width: auto;
    height: 120px;
    margin-bottom: 20px;
    margin-top: 15px;
 }

 .picForMobile {
    width: 80%;
    height: 100%;
    margin: auto
 }

 #fontForD {
    font-size: 14px;
 }

 #tit {
    font-size: 23px;
 }

 #star2 {
    font-size: 18px;
 }

 #more2 {
    font-size: 14px;
 }

 #play-but {
    min-width: 80px;
    height: 31px;
 }

 .rmForM {
    display: none;
 }

 .tapContainer {
    padding: 20px 0px 20px 0px;
 }
}